<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaistcs.android.dontkoala"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".DontKoalaActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SplashActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="ProfileTab"></activity>
        <activity android:name="GroupTab"></activity>
        <activity android:name="NotificationTab"></activity>
        <activity android:name="EmergencyContacts" android:label="Edit Emergency Contacts"></activity>
        <activity android:name="HomeLocation" android:label="Long-touch your home location"></activity>
        
    </application>

</manifest>